<div class="container mt-3">
<%= link_to 'Back', beverage_entries_path, class: 'btn btn-outline-secondary' %>
</div>
<%= render partial: 'beverage_entry', locals: { beverage_entry: @beverage_entry } %>