<div class="max-w-[430px] mx-auto w-full" style="font-family: Montserrat, sans-serif">
  <div class="relative flex flex-col">
    <%= render 'shared/header'%>
    
    <div class="relative top-[210px] rounded-[40px] bg-white text-[#212121] shadow-[0px_5px_19px_0px_#6A6A6A29] w-full">
      <div class="py-[40px] px-[29px]">
        <h5 class="text-[#212121] mb-2 text-xl font-bold">Ready to track your beverages details today?</h5>
        
        <%= link_to new_beverage_entry_path, class: "no-underline" do %>
          <div class="flex items-center gap-3 p-2 rounded-[25px] py-[11px] justify-center text-center shadow-[4px_13px_51.9px_0px_#29292933] bg-[linear-gradient(0deg,#FE2968,#FE2968),radial-gradient(63.11%_63.11%_at+31.97%_19.67%,rgba(255,_255,_255,_0.7)_0%,rgba(255,_255,_255,_0)_69.79%,rgba(255,_255,_255,_0)_100%)]">
            <span class="block border-2 border-white text-white text-xl font-bold rounded-full size-7 flex items-center justify-center">
              +
            </span>
            <h6 class="text-base text-white font-semibold">Record Beverage Data</h6>
          </div>
        <%end%>

      </div>

      <div id="beverage_entries">
        <%= render partial: 'beverage_entry', locals: { beverage_entry: @beverage_entry } %>
      </div>

      <div class="rounded-[30px] bg-white shadow-[0px_5px_19px_0px_#6A6A6A29] p-6">           

        <%= button_to "Show All Data", 
          beverage_entries_path, 
          method: :get, 
          class: "w-full border border-[#FE2968] text-[#FE2968] rounded-full py-3 font-semibold",
          data: { turbo_frame: "beverage_entries" } %>
      </div>

      </div>
    </div>
  </div>
</div>
