<!DOCTYPE html>
<html class="h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="flex flex-col min-h-screen" style="font-family: 'Montserrat', sans-serif">
    <div class="max-w-[430px] mx-auto w-full min-h-screen bg-white flex flex-col">
      <main class="flex-1 pb-6 "> <!-- Added padding-bottom for footer -->
        <%= render 'shared/notices' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>